<div Align="center">
  <div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h2>詳細</h2>
<br>
<p> タスク名:<%= @task.title %></p>
<p> タグ:<%= @task.tag %></p>
<p> ノート:<%= @task.content %></p>

<%= link_to '戻る', tasks_path %>


</div>
</div>
</div>
