// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  text-align: center;
}

table {
  text-align: center;
  margin-left: 90px;

}

table tr {
  border-bottom:1px dashed #ccc;
}


table th {/*table内のthに対して*/
  padding: 20px;/*上下左右10pxずつ*/
  text-align: center;
}

table td {/*table内のtdに対して*/
  padding: 3px 10px;/*上下3pxで左右10px*/
}

table body tr {
  border-bottom:1px dashed #ccc;
}
